/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

.ibg{

background-position: center;
background-size: cover;
background-repeat: no-repeat;
position: relative;
}

.ibg img{

width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
object-fit: cover;
}
/*--------------------*/


.bt {
	display: inline;
	margin-bottom: 15px;
	padding: 10px 20px;
	margin-right: 20px;
	border-radius: 50px;
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	background: #F3F3F3;
}
.bt:last-child {
	margin-right: 0px;
}
.bt:hover {
	background-color: #1366FB;
	color: #fff;
}
hr {
	height: 1px;
	background-color: #000;
}
a {
	color: #141414;
}
.wrapper {
	font-family: 'Inter', sans-serif;
}
.contener {
	max-width: 1260px;
	margin: 0 auto;
	padding: 0 15px;
}
/* header */

.header {
	margin-top: 40px;
}


.header__menu {
	padding: 0 15px;
	display: flex;
	justify-content: space-between;
	margin: 27px 0;
	align-items: center;
}
.header__menu a, .header__fhone{
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: #141414;
}

.header__second-column {
	display: flex;
}

.header__second-column a{
	margin-right: 60px;
}
.header__second-column a:last-child{
	margin-right: 0px;
}
.header__burgger {
	position: relative;
	width: 32px;
	height: 15px;
}
.header__burgger:after{
	content: '';
	position: absolute;
	height: 2px;
	width: 32px;
	top: 0;
	left: 0;
	background: #141414;
	transform: matrix(-1, 0, 0, 1, 0, 0);
}

.header__burgger:before{
	content: '';
	position: absolute;
	height: 2px;
	width: 24px;
	top: 11px;
	left: 8px;
	background: #141414;
	transform: matrix(-1, 0, 0, 1, 0, 0);
}

/* portfolio */


.item_bg {
	width: 100%;
}
.portfolio__links {
	display: flex;
	margin-bottom: 80px;
	flex-wrap: wrap;
}


.portfolio__header {
	padding-top: 98px;
	margin-bottom: 40px;
	font-weight: 500;
	font-size: 80px;
	line-height: 130%;
/* identical to box height, or 104px */


	color: #19191C;
	position: relative;
}

.minecraft {
	margin-right: 44px;
}


.portfolio__columns {
	display: flex;
	margin-bottom: 40px;
}

.columns {
	width: 50%;
}
.portfolio__first-column {
	margin-right: 20px;
	min-width: 350px;
}

.portfolio__second-column {
	margin-left: 20px;
	min-width: 350px;
}


.item__subtitle {
	margin-top: 24px;
	font-weight: 400;
	font-size: 32px;
	line-height: 130%;
	color: #19191C;
}

.item__footer {
	margin-top: 15px;
	padding-bottom: 80px;
	display: flex;
	font-weight: 500;
	font-size: 14px;
	line-height: 150%;
	/* identical to box height, or 21px */


	color: #9FA3AB;

}

.item__footer img{
	margin: auto 14px;
}


/* footer */


.footer {
	background-color: #000;
	color: #fff;
}




.footer__subtitle {
	padding-top: 91px;
	font-weight: 500;
	font-size: 52px;
	line-height: 130%;
}
.footer__subtitle p{
	font-weight: 200;
}



.footer__info {
	display: flex;
	justify-content: space-between;
	max-width: 1085px;
	margin-top: 120px;
	padding-bottom: 80px;
}

.footer__text {
	font-weight: 300;
	font-size: 14px;
	line-height: 160%;
	opacity: 0.8;
}

.second_p {
	font-size: 12px;
}

.footer__text a{
		font-weight: 700;
	font-size: 14px;
	line-height: 160%;
	color: #fff;
	opacity: 1;
}
.second_p {
	margin-top: 28px;
}


.second_p a{
	text-decoration: solid;
	color: #fff;
	opacity: 1;
	font-weight: 700;
}
.second_p-link a{
	color: #fff;
}



.f-l {
	font-weight: 700;
	font-size: 14px;
	line-height: 160%;
/* or 22px */
	
}

.f-l p{
		margin-bottom: 14px;
}

.f-l a{
	color: #FFFFFF;
}

.f-l p:last-child{
	margin-bottom: 0px;
}

.footer__links {
	display: flex;
	flex: 1 1 50%;
  justify-content: space-around;
}




/* media-adaptive */


@media (max-width:800px){
	.portfolio__columns {
		display: block;
	}
	.columns {
		margin: 0 auto;

	}
	.portfolio__header{
		padding-top: 58px;
		font-size: 60px;
	}
	.minecraft {
		margin-right: 5px;
	}
	.footer__info {
		display: block;
	}
	.footer__links{
		margin-top: 30px;
	}
}

@media (max-width:960px){
	.header__fhone{
		display: none;
	}
	.header__second-column{
		display: none;
	}
	.header__call{
		display: none;
	}
}


@media (max-width: 400px){
	.minecraft {
    margin-right: 0px;
	}
	.portfolio__header{
		font-size: 45px;
	}
	.columns {
		min-width: 300px;
	}
	.contener {
		padding: 0 7px;
	}
}