/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

.ibg{

background-position: center;
background-size: cover;
background-repeat: no-repeat;
position: relative;
}

.ibg img{

width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
object-fit: cover;
}
/*--------------------*/



/* общее */



.wrapper {
	font-family: 'Poppins', sans-serif;
}
.contener {
	max-width: 1330px;
	margin: 0 auto;
	padding: 0 15px;
}
.bt {
	font-family: 'Montserrat';
	padding: 12px 26px;
	border: 2px solid #3B3C3F;
	border-radius: 20px;
	background-color: #fff;
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;

}

hr {
	background-color: #7A7267;
	height: 1px;
}
.double-hr {
	margin-bottom: 4px;
}

/* header */

.content{
	display: flex;
	flex-direction: column;
}


.header__body {
	display: flex;
	justify-content: space-between;
	padding: 22px 0 18px 0;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
}



.header__menu{
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	line-height: 15px;
	font-weight: 500;
	position: relative;

}
.header__menu a{
		color: #3B3C3F;
}
.header__menu:before {
	content: '';
	position: absolute;
	width: 30px;
	height: 1px;
	background: #241919;
	left: 52px;
	top: 10px;

}
.header__menu:after {
	content: '';
	position: absolute;
	width: 30px;
	height: 1px;
	background: #241919;
	left: 52px;
   top: 3px;

}



/* saits */
.saits__body {
	margin-top: 100px;
}
.saits__title {
	display: flex;
	margin-bottom: 68px;

}

.saits__title-text {
	display: inline-block;
	position: relative;
	width: 664px;
	font-family: 'Montserrat';
	font-size: 53px;
	line-height: 68px;
	text-transform: uppercase;
	color: #373737;
}
.saits__text {
	width: 625px;
	font-weight: 500;
	font-size: 24px;
	line-height: 34px;
	color: #000000;
	padding-bottom: 44px;
}
.saits__text p{
	margin-top: 13px;
	width: 400px;
	font-size: 18px;
	line-height: 25px;
	font-weight: 400;
}


.saits__title-down {
	font-family: 'Poppins';
	position: absolute;
	font-size: 16px;
	line-height: 22px;
	width: 253px;
	top: 81px;
   left: 411px;
   text-transform: none;

}
.saits__title-links {
	margin-left: 411px;
}

.saits__title-links a{
	font-family: 'Poppins';
	font-size: 12px;
	line-height: 23px;
	color: #000000;
}



/* shop */

.xuy {
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	word-wrap: normal; /* для IE */ 
	text-overflow: clip;
	
	font-weight: 250;
	font-size: 48px;
	line-height: 72px;
	text-transform: uppercase;
	color: #3B3C3F;
	



	
}

.shop__bg {
	margin-top: 60px;
	margin-bottom: 70px;
}
.shop__bg img{
	max-width: 100%;
}
.shop__main {
	display: flex;
	justify-content: space-between;
	margin-bottom: 121px;
}
.shop__text {
	font-size: 22px;
	line-height: 31px;
	color: #000000;

}
.first__text {
	max-width: 415px;
}

/* our-works */

.works__columns {
	padding-top: 32px;
	margin-bottom: 50px;
	display: grid;
	grid-template-rows: 106px minmax(0px, 370px);
	grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
	gap: 50px;
	grid-template-areas: 
	"text_1 text_2"
	"img1 img2"
	;

}


.column__first-text {
	grid-area: text_1;
	font-weight: 300;
	font-size: 38px;
	line-height: 57px;
/* identical to box height */

	letter-spacing: 0.15em;
	text-transform: uppercase;

	color: #3B3C3F;

}
.column__second-text {
	grid-area: text_2;
	font-weight: 300;
	font-size: 16px;
	line-height: 22px;
/* or 22px */


	color: #000000;
}

.column__first-img img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: linear-gradient(180deg, rgba(55, 55, 55, 0) 13.66%, #373737 100%);
}
.column__first-img{
	position: relative;
}
.column__second-img{
	position: relative;
}
.column__second-img img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.column__first-img:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; left: 0;
  background: linear-gradient(to bottom, transparent 0%,  rgba(0,0,0,0.7) 100%);
}


.column__second-img:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; left: 0;
  background: linear-gradient(to bottom, transparent 0%,  rgba(0,0,0,0.7) 100%);
}
.column_b-img img:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; left: 0;
  background: linear-gradient(to bottom, transparent 0%,  rgba(0,0,0,0.7) 100%);
}



.column__first-img_text {
	position: absolute;
	z-index: 5;
	bottom: 30px;
	left: 30px;
	font-weight: 500;
	font-size: 22px;
	line-height: 31px;
	color: #FFFFFF;

	
}
.column__second-img_text {
	position: absolute;
	z-index: 5;
	bottom: 30px;
	left: 30px;
	font-weight: 500;
	font-size: 22px;
	line-height: 31px;
	color: #fff;

}
.li {
	font-size: 18px;
	line-height: 25px;
	text-decoration-line: underline;
	color: #FFFFFF;
}

.li_2 {
	color: #3B3C3F;
}



.column_b-img {
	position: relative;
	width: 82%;
	height: 370px;
}

.column_b-img img{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;

}


.column_b-links {
	position: absolute;
	top: 30;
	left: 30;
	z-index: 5;
}

.asdas {
	position: absolute;
	z-index: 5;
	bottom: 30px;
	left: 30px;
	font-weight: 500;
	font-size: 22px;
	line-height: 31px;
	color: #3B3C3F;

}
.img_b-dates_main {
    display: flex;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    min-width: 168px;
    color: #000000;
    left: 34px;
    top: 96%;
    position: absolute;
    margin: 0 auto;
}
.img_b-dates span{
	margin-left: 20px;

}

.works__columns-b {
	display: flex;
}
.img_b-dates {
    position: relative;
    width: 18%;
}



.trash {
	height: 500px;
}
@media (max-width: 1152px){
	.works__columns-b {
    display: block;
	}
	.shop__text {
		font-size: 17px;
		line-height: 27px;
	}
	.saits__title-links {
    	margin-left: 209px;
	}
	.saits__title-text {
		font-size: 45px;
		line-height: 61px;
	}
	.saits__title-down {
		top: 72px;
		left: 358px;
	}
}


@media (max-width: 1000px){
	.works__columns-b {
    display: block;
}
	.shop__text {
		font-size: 17px;
		line-height: 27px;
	}
	.saits__title-links {
    margin-left: 140px;
	}
}
@media (max-width: 880px){
	.shop__main {
		display: block;
		text-align: center;
	}
	.shop__text {
		font-size: 22px;
		line-height: 31px;
	}
	.first__text {
		margin-bottom: 30px;
		max-width: none;
	}
	.saits__title-links {
    margin-left: 56px;
    margin-top: 13px;
	}
	.saits__title-text {
		font-size: 29px;
    	line-height: 44px;
	}
	.saits__title-down {
		top: 44px;
		left: 233px;
	}
	.saits__title-links {
    	margin-left: 147px;
	}
	.img_b-dates_main {
		display: none;
	}
}


@media (max-width: 680px){
	.saits__title-down {
		left: 253px;
		top: 64px;
	}
	.saits__title-text {
		font-size: 32px;
		line-height: 60px;
		width: auto;
	}
	.saits__text {
		text-align: center;
		width: auto;
		font-size: 18px;
    	line-height: 25px;
	}
	.saits__text p{
		margin-top: 50px;
		width: auto;
		font-size: 20px;
    	line-height: 25px;

	}
	.shop__text {
    	font-size: 16px;
    	line-height: 26px;
	}
	.saits__title-links {
		margin-top: 0px;
	}
	
}
@media (max-width: 640px){
	.saits__title-down {
    	left: 199px;
    	top: 43px;
    	font-size: 15px;
    	line-height: 18px;
	}

	.saits__title-text {
    	font-size: 24px;
    	line-height: 42px;
    }
    .saits__title-links a {
    	font-size: 10px;
    	line-height: 18px;
    }
    .saits__text {
    	font-size: 15px;
    	line-height: 21px;
    }
    .saits__text p{
    	font-size: 15px;
    	line-height: 21px;
    }
    .saits__body {
    margin-top: 74px;
	}

	 

	
}

@media (max-width: 500px){
	.saits__title-down{
		left: 132px;
    	top: 35px;
    	font-size: 13px;
    	line-height: 16px;
	}
	.saits__title-text {
    font-size: 17px;
    line-height: 33px;
 } 
 	.header__menu {
 		display: none;
 	}
 	.saits__title-links {
    margin-left: 100px;
	}
	
}
